@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 16px;
    background-image: url('../assets/tile-white.png');
    background-size:100px;
    background-repeat: repeat;
    cursor: crosshair;
}
nav {
    background: #222;
    padding: 10px 15px;
}
a {
    color: white;
    text-decoration: none;
}
.flex-center {
	display: flex;
    flex-flow: column;
    align-items: center;
}

.flash { 
  margin: 0.5em 0; 
  padding: 1em; 
  background: #cae6f6; 
  border: 1px solid #377ba8; 
}

/* Navbar */
.menu {   
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}
.menu a{
  color: white;
  text-decoration: none;
}
.logo a:hover{
  color: white;
  text-decoration: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.menu li.button a {
  background:#000;
	color: #fff;
  border: 1px solid #33ff33;
	padding: 10px 15px;
	margin: 5px 0;
}
.menu li.button a:hover {
  background:rgb(240, 240, 240);
	color: #000;
  border: 1px solid #33ff33;
}
.button a {
	background: #0080ff;
	border: 1px #2cda2c solid;
}
.button.secondary {
	padding-left: 3px;
	border: 0;
}
.button.secondary a {
	background: transparent;
	border: 1px #0080ff solid;
}
.button a:hover {
	text-decoration: none;
}
.button:not(.secondary) a:hover {
	background: transparent;
  background:rgb(58, 58, 58);
	color: #fff;
  border: 1px solid #33ff33;
}
.button.secondary a:hover {
	background: #3a3a3a;
}

/* Body */
.container {
	padding: 20px;
}

h1 {
	padding-top: 20px;
}
h2 {
  font-weight: normal;
}
p {
  margin: 0 15px 0 15px;
  text-align: center;
}

h1, h2 {
	margin: 10px;
}
form {
	margin: 0.5em 0;
}
label {
	margin: 0.5em; 
}
input {
	margin: 0 0 15px;
}
.container .button a {
	padding: 10px 15px;
	margin: 5px 0;
  color: #2cda2c;
  background:rgb(48, 48, 48);
}

.container .info {
	padding: 20px;
}
input[type=text] {
    padding:5px; 
    border:2px solid black; 
    border-radius: 0px;
}

input[type=text]:focus {
    border:2px royalblue solid;
    border-radius: 0px;
}

input[type=submit] {
    margin-top: 5px;
    font-size: 16px;
    padding: 10px 15px;
    background:#8c9096; 
    color: white;
    border:1px #2cda2c solid;
    cursor: pointer;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-style:italic;
}

input[type=submit]:hover {
    font-style:normal;
    font-size:20px;
    background: #2cda2c;
}


/* Home */
.selected-stocks {
	box-sizing: border-box;
}

.table-container {
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: 400px;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px #d9d9d9;
  color: white;
}

.flex-row {
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  background: #5c5f63;
}

.flex-row.stock {
  width: 50%;
}
.flex-row.volume {
  width: 40%;
}
.flex-row.close {
  width: 10%;
  background: #d9d9d9;
}
.flex-row.close:hover {
  background: #A2AF9F;
}

/* Results */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 60%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-family: 'Space Mono', monospace;
  font:12px;
  font-style:italic;
}
.active, .collapsible:hover {
  background-color: #555;
  color: white;
  outline: none;
}
.active, .collapsible:focus{
  outline: none;
}
.collapsible span {
  float: right;
}
.active span {
  opacity: 0;
}
.content {
  width: 60%;
  padding: 0 16px;
  background-color: #f1f1f1;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-family: 'Space Grotesk', monospace;
  text-align:left;
}
.content p{
  margin: 1em 0;
}

.pad-s {
  margin-top: 20px;
}
.pad-m {
  margin-top: 35px;
}
.text-center{
  text-align: center;
}

/* Progress Bar*/
.progress {
  border:1px solid #000;
  border-radius:5px;
  background-color:rgb(255, 255, 255);
}
.progress-bar-color {
  text-align:center;
  background-color: #75df75 !important;
}

/* Compatibility */
.compat {
  font-size: 1.5em;
}
.iparent {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
}
.ichild {
  flex: 1 0 10%;
  margin: 5px;
  font-size: 3em;
  text-align: center;
  color: #999;
}
.ichild.num {
  margin: auto;
}
.ichild.des {
  font-size: 16px;
}

@media (min-width: 481px) and (max-width: 768px)
{
  body, a, input {
      font-size: 30px;
  }
  .logo {font-size: 32px;}
  input[type=submit] {
    font-size: 30px;
    margin-top: 20px;
  }
  h1 {
    font-size: 2em;
  }
  .collapsible, .content{
    width:90%;
  }
  .iparent {
    width:90%;
  }
}
@media (max-width: 480px)
{
  body, a, input {
    font-size: 20px;
  }
  input[type=submit] {
    font-size: 20px;
  }
  h1 {
    font-size: 1.7em;
  }
  .collapsible, .content{
    width:95%;
    font-size: 20px;
  }
  .iparent {
    width: 100%;
  }
  #about {display: none;}
}