* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}
nav {
    background: #222;
    padding: 10px 15px;
}
a {
    color: white;
    text-decoration: none;
}
.flex-center {
	display: flex;
    flex-flow: column;
    align-items: center;
}

.flash { 
  margin: 1em 0; 
  padding: 1em; 
  background: #cae6f6; 
  border: 1px solid #377ba8; 
}

/* Navbar */
.menu {   
    list-style-type: none;
    display: flex;
    align-items: center;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.item {
    padding: 10px;
}
.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}

.menu li.button a {
	padding: 10px 15px;
	margin: 5px 0;
}
.button a {
	background: #0080ff;
	border: 1px royalblue solid;
}
.button.secondary {
	padding-left: 3px;
	border: 0;
}
.button.secondary a {
	background: transparent;
	border: 1px #0080ff solid;
}
.button a:hover {
	text-decoration: none;
}
.button:not(.secondary) a:hover {
	background: transparent;
	border-color: #0080ff;
}
.button.secondary a:hover {
	background: #5a5a5a;
}

/* Body */
.container {
	padding: 20px;
}

h1 {
	padding-top: 20px;
}

h1, h2 {
	margin: 10px;
}
form {
	margin: 1em 0;
}
label {
	margin: 0.5em; 
}
input {
	margin: 0 0 15px;
}
.container .button a {
	padding: 10px 15px;
	margin: 5px 0;
	background: #9eaab7;
}
.container .button a:hover {
	background: #0080ff;
}

.container .info {
	padding: 20px;
}


/* Home */
.selected-stocks {
	box-sizing: border-box;
}

.table-container {
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: 400px;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px #d9d9d9;
  color: white;
}

.flex-row {
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  background: #5c5f63;
}

.flex-row.stock {
  width: 50%;
}
.flex-row.volume {
  width: 40%;
}
.flex-row.close {
  width: 10%;
  background: #d9d9d9;
}
.flex-row.close:hover {
  background: #0080ff;
}