<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
	  <ul class="menu">
	    <li class="logo"><a href="{{ url_for('index')}}">StockMeetsBagel</a></li>
	    <li class="item"><a href="{{ url_for('index')}}">Home</a></li>
	    <li class="item" id="about"><a href="{{ url_for('about')}}">About</a></li>
	    <li class="item button"><a href="{{ url_for('compare', code='<placeholder>')}}">Compare</a></li>
	    <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
	  </ul>
	</nav>
	<div class="container flex-center">
		{% block content %} {% endblock %}
	</div>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
</body>
</html>
